.language-toggle {
    position: relative;
    padding: 0 50px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        background-image: url("../img/icon-flag.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 13px;
        height: 7px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 13px solid #ffffff;
    }
}