.overview__title {
    margin-bottom: 45px;
}

.overview {
    display: flex;
    padding: 94px 0;   
}

.overview__text {
    @include zero;
    margin-bottom: 20px;
    line-height: 20px;
}

.overview__left-column {
    padding-top: 46px;
    margin-right: 90px;
    width: 445px;
}

.overview__right-column {
    position: relative;
    padding-left: 35px;

    &::before {
        content: "";
        position: absolute;
        top: 123px;
        left: 2px;
        width: 66px;
        height: 66px;
        border: 30px solid #ED4C5C;
        border-radius: 50%;
    }

    &::after {
        content: "";
        position: absolute;
        top: 147px;
        left: 31px;
        width: 18px;
        height: 18px;
        border-left: 10px solid #fff;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        z-index: 2;
    }
}

.overview__link {
    color: #ED4C5C;
}

.overview__img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px
}